$containers-padding: 3rem;
@media(max-width: $md){
	$containers-padding: 1.6rem;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	font-family: $font-brand-primary;
	@include scrollbar;
}

button{
	font-family: $font-brand-primary;
}

body {
	margin: 0;
	font-size: 1.7rem;
	line-height: 1.7em;
	color: $color-black;
	background-color: $color-white;
}

body.blocked{
	overflow: hidden;
}

.container {
	max-width: $container-width;
    padding: 0 $containers-padding;
	margin: 0 auto;
}

.container-fluid {
	max-width: $container-fluid-width;
    padding: 0 $containers-padding;
	margin: 0 auto;
}

.vertical-mobile-margin{
	margin-bottom: 14rem;

	&--smaller{
		margin-bottom: 6rem;
	}

	&--80{
		margin-bottom: 8rem;
	}

	&--100{
		margin-bottom: 10rem;
	}

	&--120{
		margin-bottom: 12rem;
	}
}

.vertical-mobile-padding{
	padding-bottom: 14rem;

	&--smaller{
		padding-bottom: 6rem;
	}
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

a {
	transition: color 0.3s;
	color: $color-main;
}

ul, ol {
	margin: 0;
	padding: 0;
	padding-left: 2.7rem;
	margin-bottom: 2rem;
}

h1,h2,h3,h4,h5,h6{
	font-family: $font-brand-secondary;
	font-style: italic;
	text-transform: uppercase;

	span{
		color: $color-main;
	}
	

}

h1,h2,h3,h4,h5,h6,p {
	margin: 0;
	color: $color-black;

	&.white{
		color: $color-white;
	}
}

p {
	margin-bottom: 2rem;
}

h1, .heading-1 {
	margin-bottom: 2rem;
	font-size: 9.8rem;
	line-height: 1em;
	font-weight: 800;
}

h2, .heading-2 {
	margin-bottom: 2rem;
	font-size: 7.2rem;
	line-height: 1em;
	font-weight: 800;
}

h3, .heading-3 {
	margin-bottom: 2rem;
	font-size: 3.2rem;
	line-height: 1.14em;
	text-transform: none;
}

h4, .heading-4 {
	margin-bottom: 1.2rem;
	font-size: 2.8rem;
	line-height: 1.3em;
	text-transform: none;
}
h5, .heading-5 {
	margin-bottom: 1.2rem;
	font-size: 2.3rem; //+-
	line-height: 1.3em;
}

h6, .heading-6 {
	margin-bottom: 1.2rem; 
	font-size: 1.7rem;
	line-height: 1.6em;
}

img{
	max-width: 100%;
	height: auto;
	display: block;
}

.pattern-white{
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	ul,
	ol,
	label
	{
		color: $color-white;
	}

	.red-text{
		color: $color-main;
	}
}

.red-text{
	padding-left: 2.4rem;
	font-size: 1.6rem;
	line-height: 1.5em;
	text-transform: uppercase;
	font-style: italic;
	font-weight: 700;
	color: $color-main;
	position: relative;
	display: inline-block;

	&::before{
		content: '';
		background-image: url('data:image/svg+xml,<svg width="19" height="4" viewBox="0 0 19 4" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.96008 3.5L0.960083 0.5H17.9601L18.9601 3.5H1.96008Z" fill="%23F20731"/></svg>');
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		left: 0;
		top: 1rem;
		width: 1.9rem;
		height: 0.4rem;
	}
}

@media(max-width: $lg){
	h1, .heading-1{
		font-size: 7.2rem;
	}

	h2, .heading-2{
		font-size: 6rem;
	}
}
@media(max-width: $md){
	html {
		font-size: 50%;
	}
	$containers-padding: 1.6rem;
	
	.vertical-mobile-padding{
		padding-bottom: 6rem;
	}

	.vertical-mobile-margin{
		margin-bottom: 6rem;
		
		&--md80{
			margin-bottom: 6rem;
		}

		&--100{
			margin-bottom: 6rem;
		}

		&--120{
			margin-bottom: 6rem;
		}
	}

	.container, .container-fluid {
		padding: 0 $containers-padding;
	}
}