@charset "UTF-8";

// Import utilities
@import "utils/fonts";
@import "utils/variables";
@import "utils/mixins";
@import "utils/buttons";

// Import Base
@import 'base';

// Import Common
@import 'common/burger-icon';
@import 'common/nav';
@import 'common/mobile-nav';
@import 'common/forms';
@import 'common/footer';
@import 'common/common-blocks';

// Import Sections
@import 'sections/header_1';
@import 'sections/header_2';
@import 'sections/header_3';
@import 'sections/section_1';
@import 'sections/section_2';
@import 'sections/section_3';
@import 'sections/section_4';
@import 'sections/section_5';
@import 'sections/section_6';
@import 'sections/section_7';
@import 'sections/section_8';
@import 'sections/section_9';
@import 'sections/section_10';
@import 'sections/section_11';
@import 'sections/section_12';
@import 'sections/section_13';

// Import pages
@import 'pages/blog';