.header_3{
    position: relative;
    padding: 18.8rem 0 13.7rem;
    min-height: 50rem; //important for background
    @include background;
    
    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: #000000D9;
    }

    h1{
        margin-bottom: 1.7rem;
    }

    > .container{
        position: relative;
        z-index: 2;
    }

    &__wrapper{
        position: relative;
        z-index: 2;
    }

    &__content{
        max-width: 63.6rem;
    }

    .container.detail-image-container{
        top: 0;
        left: 0;
        bottom: 0;
        padding: 0;
    }

    &__image-wrapper{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

    &__detail-image{
        position: absolute;
        height: 100%;
        width: auto;
        transform: translateX(-31.2rem);
    }

    &__text{
        font-size: 2rem;
        line-height: 1.5em;
        font-style: italic;
        margin: 0;
        min-height: 6rem;
    }

    @media(max-width: $sm){
        &__detail-image{
            transform: translateX(-16.2rem);
        }
    }
}