.header_2{
    position: relative;
    padding: 15.3rem 0 11rem;
    @include background;
    
    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: #00000080;
    }

    h1{
        margin-bottom: 2.4rem;
    }

    .container{
        position: relative;
        z-index: 1;
    }

    &__categories{
        display: flex;
        flex-wrap: wrap;
        gap: 2.4rem;
        margin-bottom: 2.4rem;
    }

    &__category{
        font-family: $font-brand-secondary;
        font-size: 2rem;
        line-height: 1em;
        letter-spacing: 0.15px;
        font-weight: 700;
        font-style: italic;
    }
    &__category{
        color: $color-main;
        text-transform: uppercase;
    }
}