.section_5{
    @include background;
    position: relative;
    
    .container{
        position: relative;
        z-index: 1;
    }

    &__hero{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: $color-main;
        opacity: 0.9;
    }

    &__content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: .8rem;
    }

    &__col{
        &--1{
            padding: 8.3rem 0 11rem;
        }
        &--2{  
            margin-top: -4.7rem;
            margin-right: -11rem;
            display: flex;
            align-items: flex-end;
        }
    }

    &__text-field{
        margin-bottom: 3.2rem;
    }

    &__buttons{
        display: flex;
        gap: 1.5rem;
        flex-wrap: wrap;
    }
    
    @media(max-width: 1599.98px){
        &__col{
            &--2{
                margin-right: 0;
            }
        }
    }
    @media(max-width: 991.98px){
        &__content{
            grid-template-columns: 1fr;
        }

        &__col{
            &--1{
                padding: 6rem 0 6rem;
            }

            &--2{
                margin: 0;
                justify-content: center;
            }
        }
    }
}