.section_10{
    &__metamorphosis{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 6.4rem 2.4rem;
    }

    &__item{
        display: flex;
        flex-direction: column;
    }
    &__item-images{
        position: relative;
        border: 4px solid #131313;
        overflow: hidden;
        margin-bottom: 0.3rem;

        &::before{
            content: "";
            display: block;
            padding-bottom: 100%;
        }
    }

    &__item-images-content{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: flex;
    }

    &__image-before,
    &__image-after{
        width: 50%;
        height: 100%;
        display: block;
        
        img{
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    &__item-text{
        font-size: 4.3rem;
        line-height: 1em;
        font-family: $font-brand-secondary;
        font-weight: 700;
        text-align: center;
        font-style: italic;
        text-transform: uppercase;
        p{
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 0.2rem 1.2rem;
        }
    }

    &__item-name{
        font-size: 3rem;
        display: inline-block;
        overflow-wrap: anywhere;
    }
    
    &__item-weight-wrapper{
        display: inline;
    }

    &__item-weight, &__item-kg{
        color: $color-main;
        display: inline-block;
    }

    &__item-weight{
        font-size: 4.3rem;
    }

    &__item-kg{
        font-size: 3rem;
    }

    &__buttons{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.2rem;
    }

    @media(max-width: $xl){
        &__metamorphosis{
            grid-template-columns: repeat(3, 1fr);
        }
    }
    
    @media(max-width: $md){
        &__metamorphosis{
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media(max-width: $sm){
        &__metamorphosis{
            grid-template-columns: repeat(1, 1fr);
            gap: 2.4rem;
        }
    }
}