.section_6{

    &__blog-posts{
        margin-bottom: 4.4rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 6.3rem;
    }

    @media(max-width: $md){
        &__blog-posts{
            grid-template-columns: 1fr 1fr;
            gap: 4.8rem 2.4rem;
        }
    }

    @media(max-width: $sm){
        &__blog-posts{
            grid-template-columns: 1fr;
        }
    }
}