.section_11{
    &__content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.4rem;
    }
    
    &__col{
        display: grid;
        grid-template-columns: 10rem 1fr;
        text-decoration: none;

        &:hover{
            .section_11__col-right{
                border-color: $color-main;
            }
        }
    }

    &__col-left{
        background-color: $color-main;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__col-right{
        padding: 3rem 2.4rem;
        border: 2px solid $color-black;
        border-left: none;
        transition: border 0.3s;

        h3{
            margin-bottom: 0.8rem;
            line-height: 1em;
        }

        p{
            margin: 0;
            font-size: 2rem;
            line-height: 1em;
            letter-spacing: 0.15px;
            font-weight: 500;
        }
    }

    @media(max-width: $lg){
        &__col{
            grid-template-columns: 8rem 1fr;
        }

        &__col-left{
            img{
                width: 3rem;
            }
        }

        &__col-right{
            padding: 2.5rem 2rem;

            h3{
                font-size: 2.5rem;
            }

            p{
                font-size: 1.6rem;
            }
        }
    }

    @media(max-width: $sm){
        &__content{
            grid-template-columns: 1fr;
        }
    }
}