.section_2{
    @include background;
    padding: 7.2rem 0;

    &__red-text-wrapper{
        display: flex;
        justify-content: center;
    }

    h2{
        text-align: center;
    }

    &__text-field{
        margin-bottom: 4.8rem;
    }

    &__blocks{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 4.8rem 2.4rem;
    }

    &__block{
        position: relative;
        overflow: hidden;

        &::before{
            content: '';
            display: block;
            padding-bottom: 72%;
        }

        &--classic{
            .section_2__block-wrapper{
                &::after{
                    content: '';
                    @include absolute-100;
                    background-color: $color-black;
                    opacity: 0;
                    transition: opacity 0.3s;
                }
    
                &:hover{
                    &::after{
                        opacity: 0.8;
                    }
                    .section_2__hero-image{
                        transform: translateX(20px) scale(1.1);
                    }
                }
            }
        }

        &--see-more{
        transition: box-shadow 0.3s;

            &:hover{
                box-shadow: 0px 0px 48px 0px #F3103980;

                .section_2__middle-text{
                    transform: scale(1.2);
                }
            }
        }
    }

    &__block-wrapper{
        @include absolute-100;
    }
    &__block-content, &__middle-text{
        @include absolute-100;
    }

    &__hero-image{
        object-fit: cover;
        position: absolute;
        left: -20px;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        transform: scale(1.1);
        transition: transform 0.3s;
    }

    &__block-content{
        @include scrollbar;
        z-index: 1;
        text-align: center;
        top: unset;
        height: unset;
        transition: transform 0.3s;
        padding-left: 2.4rem;
        padding-right: 2.4rem;
        padding-top: 2.4rem;

        p{
            margin-bottom: 1.7rem;
        }
    }

    &__block-text-field{
        padding-bottom: 2.4rem;
    }
    
    &__block-heading{
        font-family: $font-brand-primary;
        margin-bottom: 0.8rem;
        font-size: 1.8rem;
    }

    &__middle-text{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-main;
        font-style: italic;
        text-transform: uppercase;
        font-weight: 800;
        transition: transform 0.3s;
        p{
            font-size: 5.2rem;
            line-height: 1em;
            font-family: $font-brand-secondary;
        }
    }
    
    @media(max-width: $xl){
        &__blocks{
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
        }
    }

    @media(max-width: $lg){
        padding: 6rem 0;
        
        &__block{
            &--classic{
                .section_2__block-wrapper{
                    &::after{
                        opacity: 0.8;
                    }
        
                    &:hover{
                        &::after{
                            opacity: 0.8;
                        }
                        
                        .section_2__hero-image{
                            transform: translateX(20px) scale(1.1);
                        }
                    }
                }
            }
        }
    }

    @media(max-width: $sm){
        &__blocks{
            grid-template-columns: 1fr;
        }
    }
}