@mixin checkbox-styles($borderColor){
    .wpforms-container{
        margin: 0;

        .wpforms-required-label{
            color: $color-main;
        }
        
        .wpforms-field-checkbox{
            label{
                &::before{
                    content: '';
                    position: relative;
                    top: 0.5rem;
                    display: inline-block;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 1.8rem;
                    height: 1.8rem;
                    margin-right: 1.2rem;
                    border: 1px solid $borderColor;
                    transition: border-color 0.3s, background-image 0.3s, box-shadow 0.3s;
                }
    
                &:hover{
                    &::before{
                        border-color: $color-main;
                    }
                }
            }
    
            input[type="checkbox"]{
                display: none;
    
                &:checked{
                    + label{
                        &::before{
                            border-color: $color-main;
                            background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="1.11111" y="1.11111" width="17.7778" height="17.7778" fill="%23F31039"/><rect x="1.11111" y="1.11111" width="17.7778" height="17.7778" stroke="%23F31039" stroke-width="2.22222"/><path d="M8.03345 15.1265L3.55469 10.5524L5.12225 8.95149L8.03345 11.9246L15.4234 4.37744L16.991 5.97836L8.03345 15.1265Z" fill="white"/></svg>')
                        }
    
                        &:hover{
                            &::before{
                                box-shadow: 0px 0px 20px 0px #F31039B2;
                            }
                        }
                    }
                }
            }
        }
    
        .wpforms-form{
            p{
                color: inherit;
            }
        }
    }
}

input, textarea{
    background: transparent;
    border: 1px solid $color-black;
    padding: 12px 16px;
    font-size: 1.4rem;
    line-height: 1.5em;
    outline: none;
    transition: border 0.2s;
    color: $color-black;

    &:focus{
        border: 1px solid $color-main;
    }
}

label{
    font-size: 1.3rem;
    line-height: 1.1em;
    margin-bottom: 0.7rem;
}

@include checkbox-styles($color-black);

.pattern-white{
    input, textarea{
        border: 1px solid #FFFFFF80;
        color: #FFFFFF;
    
        &:focus{
            border: 1px solid $color-main;
        }
    }

    @include checkbox-styles(#FFFFFF80);
}