.mobile-nav{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: $color-white;
    padding: 10rem 1.6rem 2.4rem;
    box-shadow: 0px 33px 80px 0px #00000012;
    overflow-y: auto;
    max-height: 100%;
    transform: translateY(-100%);
    transition: transform 0.3s;

    &__links{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__link{
        width: 100%;
        padding: 2rem 1rem;
        text-decoration: none;
        text-align: center; 
        font-weight: 700;
        font-style: italic;
        text-transform: uppercase;
        color: $color-black;

        &:focus{
            color: $color-main;
        }

        &.active{
            color: $color-main;
        }
    }

    @media(max-width: $lg){
        display: block;
    }

    &.active{
        transform: none;
    }
}