.nav{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    &__logo{
        padding: 1.8rem 0;
        display: inline-flex;

        img{
            width: 17.6rem;
        }

        &--scrolled{
            display: none;
        }
    }

    &__content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2.4rem;
    }

    &__links{
        display: flex;
        align-items: center;

        .cs-button{
            margin-left: 4rem;
        }
    }

    &__link{
        padding: 3.6rem 2rem;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 700;
        font-style: italic;
        color: $color-white;
        white-space: nowrap;

        &:hover{
            color: $color-main;
        }

        &.active{
            color: $color-main;
        }
    }

    &__burger-wrapper{
        display: none;
    }

    &.translated{
        transform: translateY(-100%);
    }

    &.fixed{
        transition: transform 0.5s;
        position: fixed;
        transform:translateY(0);
        background-color: $color-white;   
        box-shadow: 0px 33px 80px 0px #00000012;
        .nav__logo{
            &--default{
                display: none;
            }
            &--scrolled{
                display: inline-flex;
            }
        }
        .nav__link{
            color: $color-black;

            &:hover{
                color: $color-main;
            }

            &.active{
                color: $color-main;
            }
        }
    }

    @media(max-width: $xl){
        &__link{
            padding: 3.6rem 1.5rem;
        }
    }

    @media(max-width: $lg){
        background-color: $color-white;
        position: fixed;
        transform: none !important;
        box-shadow: 0px 33px 80px 0px #00000012;

        &__right{
            display: flex;
        }
        &__burger-wrapper{
            display: inline-flex;
        }

        &__links{
            display: none;
        }

        &__logo{
            padding: 1rem 0;
            
            &--default{
                display: none;
            }
            &--scrolled{
                display: inline-flex;
            }
        }
    }

    @media(max-width: $md){
        &__logo{
            img{
                width: 14rem;
            }
        }
    }
}